# File và thư mục của Frontend (React/Vite)
frontend/node_modules
frontend/dist
frontend/.env
frontend/.DS_Store

# File và thư mục của Backend (ASP.NET)
backend-aspnet/bin
backend-aspnet/obj
backend-aspnet/algoquest.db
backend-aspnet/appsettings.Development.json

# File hệ thống
.DS_Store
*.suo
*.user
*.userosscache
*.sln.docstates
